body {
  position: relative;
}
main {
  height: 100vh;
  display: grid;
  grid:
    ". header header ." 1fr
    ". input output ." 1fr
    ". footer footer ." 1fr/
    1fr minmax(0, 1fr) minmax(0, 1fr) 1fr;
  gap: 4rem;
}

.logo {
  height: 35rem;
  text-align: center;
  grid-area: header;
  img {
    height: 35rem;
  }
}
form {
  grid-area: input;
}
.inputs {
  @include flex(flex-start, center, column);
  background: rgba($color: $jet, $alpha: 0.035);
  border-radius: 2rem;
  padding: 2rem;
}
.outputs {
  grid-area: output;
  text-align: center;
  border-radius: 2rem;
  @include flex(flex-start, center, column);
  padding: 2rem;
  background: rgba($color: $jet, $alpha: 0.015);
}

.principal,
.interest {
  width: 100%;
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  h3 {
    font-size: 1.4rem;
  }
}
.interest-sum,
.total-sum-paid {
  font-size: 1.5rem;
}

.monthly {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 10rem;
  @include flex(flex-start, center, column);
  p {
    font-size: 3rem;
    font-family: "Crimson Text", serif;
    margin-top: 5rem;
  }
}
.amount {
  margin-top: 2rem;
}

.field {
  @include flex(flex-start, center, column);
  margin-bottom: 2rem;
  input {
    order: 2;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    transition: all 100ms ease;
  }
  input:focus {
    -webkit-box-shadow: 8px 6px 15px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 8px 6px 15px -8px rgba(0, 0, 0, 0.52);
    transform: scale(1.03);
  }
  label {
    padding: 1rem 1.5rem;
    order: 1;
  }
}
.error {
  display: none;
  order: 3;
  font-size: 1rem;
  color: red;
  margin-top: 0.5rem;
  transition: all 200ms ease;
}

.calculate {
  width: 100%;
  padding: 3rem;
  @include flex(center, center, row);
}

.calculate-button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;

  transition: all 100ms ease;
}
.calculate-button:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 8px 6px 15px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 8px 6px 15px -8px rgba(0, 0, 0, 0.52);
}
.info {
  grid-area: footer;
  text-align: center;
  font-size: 1.1rem;
  @include flex(center, center, row);
}
