$jet: #353535;
$gray: #e0dede;
$white: #ffffff;
$ming: #3c6e71;
$indigo: #284b63;
$prussianblue: #003566;
$beige: #eff8e2;
$isabelline: #f0efeb;

@mixin flex($justify, $align, $dir) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}

:export {
  indigoColor: $indigo;
}
